<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Valorant Skins CRUD{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/valorant');
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('list_colecoes') }}">Coleções</a></li>
                <li><a href="{{ url_for('list_skins') }}">Skins</a></li>

                {% if session.get('logged_in') %}
                    <li>Bem-vindo, {{ session.get('username') }}!</li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Registro</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
