{% extends 'base.html' %}

{% block title %}Lista de Coleções{% endblock %}

{% block content %}
<section>
    <h2>Lista de Coleções</h2>
    
    <div style="display: flex; align-items: center; margin-bottom: 20px;">

        <a href="{{ url_for('add_colecao') }}" class="btn-adicionar-colecao">Adicionar Coleção</a>
    </div>

    <ul>
        {% for colecao in colecoes %}
            <li>
                {{ colecao.nome }}
                <a href="{{ url_for('edit_colecao', id=colecao.id) }}">Editar</a>
                <form action="{{ url_for('delete_colecao', id=colecao.id) }}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Tem certeza de que deseja deletar esta coleção?');">Deletar</button>
                </form>
            </li>
        {% else %}
            <li>Nenhuma coleção encontrada.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
